
.navbutton {
  width: 80%;
  border: 1px solid white !important;
  outline:none;
  padding: 5px 5px;
  color: white;
  margin-left: 10%;
  margin-bottom: 30px;
  background: #23b14d00;
  border: white;
  text-align: center;
  transition: 0.8s;
  display: inline-block;
  cursor: pointer;
  -webkit-appearance: none;
  font-size: 16px;
  text-align: center;
  color: white;
  font-family: "Courier New", Courier, monospace;
}

.navbutton:active {
  background: #23b14dd1;
  transition: all 0.2s;
}

.navbutton:hover {
  background: #23b14dd1;
  transition: all 0.2s;
}

.navbutton:active:after {
  background: #23b14d00;
  transition: 0s;
}

.navbutton.absolute{
  position:fixed;
}
